<link rel="stylesheet" href="/css/sign-in.css" />
<div class="brand-container">
  <p>Welcome to new world !!!</p>
</div>

<div id="sign-in-form-container" class="form-container">
  <form action="/users/create-session" class="form-group" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name..." />
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email..." />
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="Password..." />
    <button type="submit">Login</button>
  </form>
  <ul>
    <li><button class="open-button button">Sign Up</button></li>
  </ul>
</div>
