<link rel="stylesheet" href="/css/sign-up.css" />
<div id="sign-up-form-container" class="form-container">
  <form action="/users/create" class="form-group" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name..." />
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email..." />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password..." />
    <label for="confirm_password">Confirm Password</label>
    <input type="text" name="confirm_password" placeholder="Password..." />
    <button type="submit">Create</button>
  </form>
</div>
