<link rel="stylesheet" href="/css/reset_password.css" />
<div class="form-container">
  <form action="/users/forgot-password" method="post">
    <input
      type="email"
      name="email"
      id="email-input"
      required
      placeholder="Email.."
    />
    <input type="submit" value="Send Link" />
  </form>
</div>
