<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- <section id="sign-in-content">

        <div class="brand-container">
          <p>Welcome to new world !!! </p>
        </div>
      
        <div id="sign-in-form-container" class="form-container">
          <form action="" class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name...">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email...">
            <label for="password">Password</label>
            <input type="text" name="password" placeholder="Password...">
            <button type="submit">Login</button>
          </form>
          <ul>
            <li><a href="">Sign Up?</a></li>
          </ul>
        </div>
      </section> -->
      
      <section id="sign-up-content">
        <div id="sign-up-form-container" class="form-container">
          <form action="/users/create" class="form-group" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name...">
            <label for="name">Email</label>
            <input type="email" name="email" placeholder="Email...">
            <label for="name">Password</label>
            <input type="password" name="password" placeholder="Password...">
            <label for="name">Confirm Password</label>
            <input type="text" placeholder="Password...">
            <button type="submit">Create</button>
          </form>
        </div>
      </section>
</body>
</html