<table style="border-spacing: 30px;">
  <tr>
    <th colspan="2">
      Profile
    </th>
  <tr>
    <td>Name</td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= user.email %></td>
  </tr>
</table>

<a href="/users/destroy-session">Sign Out</a>
