<link rel="stylesheet" href="/css/reset_password.css" />
<div class="form-container">
  <% if (tokken.isValid) { %>
  <form action="/users/reset_password/<%= tokken.tokken %>" method="post">
    <input
      type="password"
      name="password"
      id="password-input"
      required
      placeholder="Password"
    />
    <input
      type="text"
      name="confirm_password"
      id="conform-password-input"
      required
      placeholder="Confirm Password"
    />
    <input type="submit" value="Reset Now" />
  </form>
  <% } else { %>
  <h1>Tokken is expired</h1>
  <% } %>
</div>
