<link rel="stylesheet" href="/css/sign-up.css" />
<div class="form-container">
  <form action="/users/create" method="post">
    <input
      type="text"
      name="name"
      id="name-input"
      required
      placeholder="Name..."
    />
    <input
      type="email"
      name="email"
      id="email-input"
      required
      placeholder="Email..."
    />
    <input
      type="password"
      name="password"
      id="password-input"
      required
      placeholder="Password"
    />
    <input
      type="text"
      name="confirm_password"
      id="conform-password-input"
      required
      placeholder="Confirm Password"
    />
    <input type="submit" value="Sign Up"/>
  </form>
</div>
