footer{
    max-height: 15vh;
    background: linear-gradient(60deg,yellow,orangered);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

@media only screen and (max-width: 600px) {
    footer{
        font-size: 0.9em;
        padding: 0px 6px;
    }
  }
