body {
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .modal {
    padding: 1em;
    max-width: 150ch;
    border: none;
    box-shadow: 0 0 0.5rem 0 grey;
  }
  .modal > * {
    margin: 0 0 0.5rem 0;
  }
  
  .modal::backdrop {
    background: linear-gradient(45deg, blue, white);
    opacity: 0.2;
  }
  
  
  #sign-in-content,
  #sign-up-content {
    max-height: 400px;
    max-width: 600px;
    border: 6px solid #8eada7;
    display: flex;
    width: 70%;
    justify-content: space-around;
    padding: 15px;
    background-color: #d7f7f1;
  }
  
  /* #sign-up-content {
    display: none;
  } */
  
  .brand-container {
    width: 40%;
    padding: 12px 9px;
    display: flex;
    align-items: center;
    border: 20px solid #8eada7;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-left: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    font-size: 20px;
  }
  
  .form-group input {
    padding: 6px 9px;
    border: none;
    outline-color: #b6d4ce;
    font-size: 16px;
  }
  
  .form-group button {
    background-color: green;
    color: white;
    font-size: 17px;
    border: none;
    padding: 12px;
    margin-top: 15px;
  }

  .button{
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 16px;
  }

  .close-button{
    background-color:rgb(211, 58, 58);
    color: white;
    padding: 12px;
  }

  .button:active{
    transform: scale(0.9);
  }
  
  .form-container li {
    list-style: none;
  }
  
  .form-container a {
    text-decoration: none;
    font-weight: bold;
    color: #808fa8;
  }
  
  @media only screen and (max-width: 600px) {
    .brand-container {
      width: 80%;
      padding: 12px 9px;
      display: flex;
      align-items: center;
      border: none;
    }
  
    #sign-in-content,
    #sign-up-content {
      max-height: 400px;
      max-width: 600px;
      border: 6px solid #8eada7;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  
    #sign-up-content {
      display: none;
    }
  
    #form-container {
      max-width: 550px;
    }
  }
  