  .modal {
    padding: 1em;
    max-width: 150ch;
    border: none;
    box-shadow: 0 0 0.5rem 0 grey;
  }
  .modal > * {
    margin: 0 0 0.5rem 0;
  }
  
  .modal::backdrop {
    background: linear-gradient(45deg, blue, white);
    opacity: 0.2;
  }

  
  .button{
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 16px;
  }


  .button:active{
    transform: scale(0.9);
  }
  