.form-container{
    min-height: 400px;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}
.form-container form input{
    flex-basis: 40px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid grey;
    padding: 6px 9px;
    outline: none;
}

.form-container form input:last-of-type{
    background:linear-gradient(90deg,#8e2207,#e53108);
    border: none;
    font-size: larger;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
    color: aliceblue;
}

.form-container form input:last-of-type:hover{
    font-size: 1.35em;
}


