.form-container{
    min-height: 400px;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}
.form-container form input{
    flex-basis: 40px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid grey;
    padding: 6px 9px;
    outline: none;
}

.form-container form input:last-of-type{
    background:linear-gradient(45deg,#07dbdb,#06b206);
    border: none;
    font-size: larger;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
}

.form-container form input:last-of-type:hover{
    font-size: 1.35em;
}

.googleSignIn {
    border: none;
    border-radius: 2px;
    background-color: #4285f4;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    border: none;
    display: flex;
    padding: 1px 6px;
    color: #FFF;
    
  }

  .googleSignIn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  }
  .googleSignIn:active {
    background: #3367D6;
  }

  
.googleSignIn--white {
    background: #FFF;
    color: rgba(0, 0, 0, 0.54);
  }
  .googleSignIn--white:active {
    background: #EEEEEE;
  }

  .googleSignIn__text {
    padding: 11px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: left;
    white-space: nowrap;
  }

  .no-underline-link{
      text-decoration: none;
  }


  