<div>
  <p>HI , <%= user.name %></p>
  <br />
  <p>
    Your Reset Password Link is
    <a href="http://localhost:8000/users/reset_password/<%= tokken.tokken %>"
      >Reset Your Password</a
    >
  </p>
</div>
